<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Declaration</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<div class="background"></div>
<div class="content">
    <h1>Оновлення декларації</h1>
    <div th:if="${errorMessage}" class="error-message">
        <p th:text="${errorMessage}"></p>
    </div>
    <form th:action="@{/declarations/{id}(id=${declaration.id})}" th:object="${declaration}" method="post">
        <div>
            <label>Дата: <input type="text" th:field="*{date}" required/></label>
        </div>
        <div>
            <label>Прізвище: <input type="text" th:field="*{lastName}" required/></label>
        </div>
        <div>
            <label>Ім'я: <input type="text" th:field="*{firstName}" required/></label>
        </div>
        <div>
            <label>По батькові: <input type="text" th:field="*{surname}" required/></label>
        </div>
        <div>
            <label>Громадянство: <input type="text" th:field="*{citizenship}" required/></label>
        </div>
        <div>
            <label>Країна постійного проживання: <input type="text" th:field="*{countryOfPermanentResidence}" required/></label>
        </div>
        <div>
            <label>Номер паспорта: <input type="text" th:field="*{passportNumber}" required/></label>
        </div>
        <div>
            <label>Серія паспорта: <input type="text" th:field="*{passportSeries}" required/></label>
        </div>
        <div>
            <label>Країна відправлення: <input type="text" th:field="*{countryOfDeparture}" required/></label>
        </div>
        <div>
            <label>Задекларована сума: <input type="number" step="0.01" th:field="*{declaredAmount}" required/></label>
        </div>
        <div>
            <label>Код валюти: <input type="text" th:field="*{currencyCode}" required/></label>
        </div>
        <div>
            <label>Інформація про багаж: <input type="text" th:field="*{informationOnTheAvailabilityOfLuggage}" required/></label>
        </div>
        <button type="submit" class="btn">Оновити</button>
    </form>
</div>
</body>
</html>
