<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Головна сторінка</title>
    <link rel="stylesheet" type="text/css" th:href="@{styles.css}">
</head>
<body>
<div class="background"></div>
<div class="content">
    <h1>Головна сторінка Митниці</h1>
    <a href="/declarations" class="btn">Переглянути декларації</a>
</div>
</body>
</html>