<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Декларації</title>
    <link rel="stylesheet" type="text/css" th:href="@{styles.css}">
</head>
<body>
<div class="background"></div>
<div class="content">
    <h1>Декларації</h1>
    <a href="/declarations/new" class="btn">Додати нову декларацію</a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Дата</th>
            <th>Прізвище</th>
            <th>Ім'я</th>
            <th>По батькові</th>
            <th>Громадянство</th>
            <th>Країна постійного проживання</th>
            <th>Номер паспорта</th>
            <th>Серія паспорта</th>
            <th>Країна відправлення</th>
            <th>Задекларована сума</th>
            <th>Код валюти</th>
            <th>Інформація про багаж</th>
            <th>Дії</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="declaration : ${declarations}">
            <td th:text="${declaration.id}">ID</td>
            <td th:text="${declaration.date}">Дата</td>
            <td th:text="${declaration.lastName}">Прізвище</td>
            <td th:text="${declaration.firstName}">Ім'я</td>
            <td th:text="${declaration.surname}">По батькові</td>
            <td th:text="${declaration.citizenship}">Громодянство</td>
            <td th:text="${declaration.countryOfPermanentResidence}">Країна постійного проживання</td>
            <td th:text="${declaration.passportNumber}">Номер паспорта</td>
            <td th:text="${declaration.passportSeries}">Серія паспорта</td>
            <td th:text="${declaration.countryOfDeparture}">Країна відправлення</td>
            <td th:text="${declaration.declaredAmount}">Задекларована сума</td>
            <td th:text="${declaration.currencyCode}">Код валюти</td>
            <td th:text="${declaration.informationOnTheAvailabilityOfLuggage}">IІнформація про багаж</td>
            <td>
                <a th:href="@{/declarations/edit/{id}(id=${declaration.id})}" class="btn">Редагувати</a>
                <a th:href="@{/declarations/delete/{id}(id=${declaration.id})}" class="btn">Видалити</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
